@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Ubuntu", sans-serif;
    background: none;
    outline: none;
}

html {
    display: block;
}

div {
    display: block;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgb(40, 48, 61);
    width: 100%;
    height: 130px;
    -webkit-box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 38%);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 38%);
}

.menu {
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu img{
    width: 150px;
}

nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px
}

nav ul li{
    text-decoration: none;  
}

nav ul li a{
    font-size: 25px;
    color: #fff;
    padding: 5px;
}

nav ul li a:hover{
    color: #03e9f4;
    background: rgb(43, 52, 66);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.38);
    border-radius: 5px;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container-apresentacao{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(./images/fundo-de-formas-abstratas-brancas_79603-1362.webp);
}

.texto-apresentacao{
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.texto-apresentacao h1{
    font-size: 37px;
    color: rgb(40, 48, 61);
    text-align: center;
    padding-bottom: 15px;
}

.texto-apresentacao p{
    font-size: 20px;
    color: rgb(40, 48, 61);
}

.btn{
    background-color: rgb(40, 48, 61);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn:hover{
    color: rgb(40, 48, 61);
    background-color: #03e9f4;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.38);
}

.imagem-apresentacao{
    width: 40%;
}

.imagem-apresentacao img{
    width: 600px;
    border-radius: 30px;
    box-shadow: 8px 10px 15px 10px rgba(40, 48, 61, 0.77);
}


#container-quem-somos{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #e5e7e7;
}

.quem-somos-texto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quem-somos-texto h2{
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(40, 48, 61);
}

.quem-somos-texto p{
    font-size: 23px;
    color: rgb(40, 48, 61);
}

.quem-somos-imagem{
    width: 40%;
}

.quem-somos-imagem img{
    width: 90%;
}

#container-servicos{
    width: 100%;
    height: 70vh;
    background-color: rgb(40, 48, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 30%;
}

.servicos h1{
    font-size: 37px;
    color: #03e9f4;
    text-transform: uppercase;
}

.lista-servicos{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-servicos{
    width: 30%;
    text-align: start;
    border-right: 1px solid #03e9f4;
}

.item-servicos h3{
    color: #e5e7e7;
    font-size: 30px;
}

.item-servicos p{
    font-size: 25px;
    color: #e5e7e7;
    padding: 15px 10px 0 0 ;
    
}

#container-resultado{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/fundo-de-formas-abstratas-brancas_79603-1362.webp);
}

.conteudo-resultado{
    width: 80%;
    height: 80%;
    
}

.conteudo-resultado h1{
    font-size: 37px;
    color: rgb(40, 48, 61);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.conteudo-resultado p{
    font-size: 28px;
    color: rgb(40, 48, 61);
}

#container-contato{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7e7;
}

.texto-contato{
    padding-top: 20px;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 0 0px rgb(43 52 66/ 38%);
}

.texto-contato h1{
    font-size: 37px;
    color: rgb(40, 48, 61);
    padding-bottom: 15px;
}

.texto-contato h2{
    font-size: 30px;
    color: rgb(43, 52, 66);
}

.lista-contato{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin-bottom: 30px;
}

.lista-contato p{
    font-size: 27px;
    color: rgb(43, 52, 66);
}

.lista-contato a{
    text-decoration: none;
    font-size: 24px;
}

.lista-contato img{
    width: 30px;
    padding-left: 10px;
}

footer{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 48, 61);
}

footer p{
    color: #fff;
}

@media only screen and (max-width: 600px){
    header{
        width: 100%;
        height: 18vh;
        position: fixed;
        -webkit-box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 38%);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);
        box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 38%);
    }

    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .menu img{
        width: 25%;
        margin-bottom: 10px;
    }

    .menu ul{
        margin: 0 7px 0 0 ;
        padding: 0;
    }

    nav ul li a{
        font-size: 15px;
    }

    #container-apresentacao{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-apresentacao{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .texto-apresentacao h1{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .texto-apresentacao p{
        font-size: 20px;
    }

    .texto-apresentacao a{
        font-size: 20px;
    }

    

    .imagem-apresentacao{   
        display: none;
    }

    #container-quem-somos{
        width: 100%;
        height: 160vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .quem-somos-imagem{
        width: 80%;
        display: flex;
        justify-content: center;
        justify-content: center;
    }

    .quem-somos-texto{
        width: 80%;
        display: flex;
        justify-content: center;
        text-align: start;
        margin-bottom: 20px;
    }

    #container-servicos{
        width: 100%;
        height: 160vh;
    }

    .servicos{
        width: 70%;
        height: min-content;
        display: flex;
        justify-content: flex-start;
        margin: 25px 0 25px 0;
    }

    .lista-servicos{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .item-servicos{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: start;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-right: 0;
        border-bottom: 1px dashed #03e9f4;
    }

    #container-resultado{
        width: 100%;
        height: 100vh;
    }

    .conteudo-resultado{
        width: 80%;
        height: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteudo-resultado h1{
        font-size: 30px;
        margin-top: 20px;
    }

    #container-contato{
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: space-between;
    }

    .texto-contato{
        width: 100%;
        height: 50%;
        box-shadow: none;
        border-bottom: 1px dashed rgb(40, 48, 61);
    }

    .texto-contato h1{
        font-size: 30px;
        margin-top: 20px;
    }

    .texto-contato h2{
        font-size: 25px;
    }

    .lista-contato{
        width: 90%;
        height: 40%;
        display: flex;
        justify-content: center;
    }

    .lista-contato p {
        font-size: 20px;
    }

    .lista-contato a {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }

    .lista-contato img{
        width: 20px;
    }

    footer{
        width: 100%;
        height: 5vh;
        font-size: 15px;
        color: #e5e7e7;
    }
}