*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header{
    background-color: rgb(40, 48, 61);
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 400PX;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #fff;
    padding: 3px;
}

.list-items li a:hover{
    color: #03e9f4;
    background: rgb(40, 48, 61);
    
}

header img{
    justify-content: flex-start;
    width: 110px;
}

header .menu{
    justify-content: space-between;
    min-width: 85%
}

.apresentacao{
    height: 100vh;
    min-width: 100%;
    align-items: center;
    justify-content: space-around;
    background-image: url(./images/fundo-de-formas-abstratas-brancas_79603-1362.webp);
}

.apresentacao img{
    border-radius: 50px;
    min-width: 420px;
    max-width: 700px;
    box-shadow: 8px 10px 15px 10px rgba(40, 48, 61, 0.77);
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
    padding-right: 0%;
    
}

.texto-apresentacao h1{
    color: rgb(40, 48, 61);
    font-size: 48px;
    margin-bottom: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
    background-color: rgb(40, 48, 61);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn:hover{
    color: rgb(40, 48, 61);
    background-color: #03e9f4;
}

#quem-somos{
    min-width: 80%;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 10% 0 10%;
    background-color: #e5e7e7;
}

.quem-somos-itens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.quem-somos-itens h2{
    margin-left: 10%;
    width: 80%;
    font-size: 32px;
    color: rgb(40, 48, 61);
    display: flex;
    margin-bottom: 20px;
    
}

.quem-somos-itens p{
    margin-left: 10%;
    width: 80%;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#quem-somos img{
    min-width: 450px;
    max-width: 500px;
}

.container-externo{
    background-color: rgb(40, 48, 61);
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    margin: auto;
    width: 85%;
    min-width: 320px;
}

#servicos h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
}

.list-items .item-servicos{
    text-align: center;
}

.item-servicos p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #fff;
}

.item-servicos h3{
    font-weight: 700;
    font-size: 21px;
    color: #03e9f4;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-servicos img{
   width: 80%;
   margin: auto; 
}

#resultado{
    flex-direction: column;
    min-height: 50vh;
    max-height: 100vh;
    padding-top: 50px;
    background-image: url(./images/fundo-de-formas-abstratas-brancas_79603-1362.webp);
}

.resultado-content{
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 85%;
    min-width: 320px;
}

.resultado-content h1{
    font-size: 40px;
    color: rgb(40, 48, 61);
    margin-bottom: 15px;
}

.resultado-content p{
    font-size: 30px;
    color: rgb(40, 48, 61);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contato{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    padding-top: 50px;
    background-color: #e5e7e7;
}

#contato h1{
    color: rgb(40, 48, 61);
    margin-bottom: 20px;
}

#contato h2{
    color: rgb(40, 48, 61);
    margin-bottom: 20px
}

#contato p{
    color: rgb(40, 48, 61);
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
}

#contato p img{
    margin-left: 20px;
    width: 30px;
}

footer{
    background-color: rgb(40, 48, 61);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer{
    color: #fff;
}


/*Mobile*/
@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 100px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servicos img{
        width: 50%;
        margin: auto;
    }

    .resultado-content{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .resultado-content{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

}